html, body{
    height: 100%;
    width:100%;
    padding: 0;
    margin: 0;
    background-color: rgb(231, 227, 227);;
}
.center{
    display: flex;
    height: 100%;
    align-items:center;
}
.content{
    margin: 0 auto;
    background-color: rgb(75, 73, 73);
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:30%;
    height: 30%;
    border-radius: 5px;
    line-height:80px;
}
.content a{
    margin: 0 auto;
    align-self: baseline;
    text-decoration: none;
    color:white;
    font-size: 30px;
}